.DS_Store
.history
project/boot
*.tmproj
target/
lib_managed/*
.pversion
src/test/resources/pilot/*
src/test/resources/bigdb/388chr15conv.bim
src/test/resources/bigdb/388chr15conv.tfam
src/test/resources/bigdb/388chr15conv.tped
src/test/resources/bigdb/388chr15conv.map
src/test/resources/bigdb/388chr15conv.ped
src/test/resources/bigdb/exported.bed
src/test/resources/bigdb/exported.bim
src/test/resources/bigdb/exported.fam
src/test/resources/bigdb/exported.log
src/test/resources/bigdb/exported.nosex
src/test/resources/bigdb/exported.tfam
src/test/resources/bigdb/exported.tped
src/test/resources/bigdb/original.bed
src/test/resources/bigdb/original.bim
src/test/resources/bigdb/original.fam
src/test/resources/bigdb/original.log
.ensime
ensime_port
cache.dump
proba.h5
tmp
plink.log
run.log
GITCOMMITHASH
