.DS_Store
.history
project/boot
*.tmproj
target/
lib_managed/*
.pversion
.ensime
ensime_port
cache.dump
tmp
run.log
GITCOMMITHASH
fib/
.bloop/
.metals/
.vscode/settings.json
project/project/project/metals.sbt
project/project/metals.sbt
